@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900");

* {
  margin: 0;
  padding: 0;
  font-family: "Lora";
  /* border: 1px solid; */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: darkgray;
  opacity: 1; /* Firefox */
}

::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
}

a {
  text-decoration: none;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 115px;
  position: absolute;
  top: 0;
  background-color: transparent;
  z-index: 2;
  width: 80%;
}

.nav-menu--opacity {
  height: 115px;
  position: absolute;
  top: 0;
  background-color: white;
  /* z-index: 2; */
  width: 100%;
  opacity: 0.1;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: white;
  opacity: 0.8;
}

.nav-menu-link-container {
  display: flex;
  font-size: 12px;
  z-index: 3;
  opacity: 0.8;
}

.nav-menu-link-container a {
  color: white;
  padding-left: 50px;
}

.content-page-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 200px;
  top: 170px;
  justify-content: space-evenly;
  align-items: baseline;
  width: 80%;
}

.search-bar-container {
  display: flex;
  justify-content: center;
}

.search-bar {
  top: 280px;
  position: absolute;
  width: 100%;
  display: flex;
  height: 80px;
  /* margin-top: 60px; */
  border-radius: 5px;
  justify-content: center;
  align-items: flex-start;
  padding: 2px;
  background-color: transparent;
}

.search-bar-input__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 5px;
  z-index: 1;
}

.search-bar-input__container--brand {
  width: 50%;
}

.search-bar-input__container--fuel {
  width: 30%;
}

.search-bar-input__container--date {
  width: 30%;
}

.search-bar__input {
  display: flex;
  background-color: white;
  border-radius: 50px;
  width: 100%;
  opacity: 0.8;
}

.search-bar-input__icon {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar-input__icon svg {
  width: 50px;
  height: 30px;
  color: darkgrey;
}

.search-bar-input__entry {
  width: 85%;
  display: flex;
  align-items: center;
  height: 50px;
}

.search-bar-input__entry input {
  width: 80%;
  height: 80%;
  font-size: 16px;
  color: darkgray;
  border: white;
}
.search-bar-input__container--date input {
  width: 100%;
  font-size: 30px;
  padding: 20px;
  color: darkgray;
  border: white;
}

.selector-bar__item {
  border: solid 1px;
  border-radius: 10px;
  border-color: gainsboro;
  margin-top: 15px;
  background-color: white;
  display: none;
  z-index: 5;
}

.search-bar-input__option {
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  border-color: gainsboro;
  color: darkgray;
}

.search-bar-input__option :hover {
  background-color: gainsboro;
}

.search-buttom {
  width: 20%;
  border-radius: 50px;
  font-size: 16px;
  color: white;
  background-color: #58aed4d1;
  border: none;
  height: 50px;
  letter-spacing: 3px;
}

.search-buttom:hover {
  opacity: 0.8;
}

.search-background-image {
  position: absolute;
  width: 100%;
  height: 610px;
  background-image: url(https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=983&q=80);
  background-size: cover;
}

.search-title {
  font-size: 35px;
  top: 90px;
  color: white;
  width: 40%;
  padding-bottom: 10px;
}
.search-subtitle {
  font-size: 14px;
  top: 300px;
  color: white;
  width: 50%;
}

.search-result-container {
  display: flex;
  position: absolute;
  top: 480px;
  width: 100%;
  height: 140px;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  flex-wrap: wrap;
}

.search-result-container__item {
  align-items: flex-start;
  justify-content: space-evenly;
  width: 45%;
  display: flex;
  border: solid 1px gainsboro;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 150px;
}

.search-result-container__photo {
  width: 200px;
  height: 130px;
  background-image: url(https://media.istockphoto.com/photos/illustration-of-generic-suv-car-on-white-picture-id949409516?k=20&m=949409516&s=612x612&w=0&h=yZc-Z6ZqtpKYFOWFu4aUbwJs8_fTu_iMLH2jcnUnlvI=);
  background-size: cover;
  opacity: 0.7;
}

.search-result-container__info {
  height: 100%;
  padding: 15px;
  width: 150px;
  color: darkgray;
  font-size: 12px;
}

.search-result-container__info div:first-child {
  font-size: 12px;
  font-weight: bold;
  color: black;
  padding-bottom: 5px;
}

.search-result-buttom {
  background-color: #58aed4d1;
  height: 30px;
  width: 90px;
  margin-top: 15px;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  border: none;
  padding: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-box-container {
  width: 80%;
  height: 410px;
  position: absolute;
  top: 110px;
}

.upload-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  left: 50px;
}

.upload-box-input__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  border: solid 1px;
  border-color: darkgray;
  border-radius: 50px;
  margin: 10px;
  width: 467px;
  color: darkgray;
  position: absolute;
  height: 20px;
}

.upload__input {
  font-size: 30px;
  width: 90%;
  height: 90%;
  color: darkgray;
  font-weight: 400;
  text-align: center;
  border: white;
}

.upload-box-input__container--brand {
  width: 442px;
  top: 130px;
}

.upload-box-input__container--fuel {
  width: 200px;
  top: 190px;
  position: absolute;
  left: 26px;
}

.upload-box-input__container--date {
  width: 200px;
  top: 190px;
}

.upload-box-input__container--email {
  width: 442px;
  top: 250px;
}

.upload-box__input {
  display: flex;
  align-items: center;
}

.upload-box-input__icon {
  width: 40px;
  display: flex;
  align-items: center;
}

.upload-box-input__icon svg {
  margin-top: 5px;
  width: 30px;
  color: darkgrey;
}

.upload-box-input__entry {
  width: 85%;
  display: flex;
  align-items: center;
}

.upload-box-input__entry input {
  width: 90%;
  font-size: 12px;
  color: darkgray;
  border: white;
}
.upload-box-input__container--date input {
  width: 100%;
  font-size: 12px;
  color: darkgray;
  border: white;
}

.upload-fuel-date-container {
  display: flex;
}

.upload-title {
  display: flex;
  align-self: flex-start;
  padding-left: 10px;
  font-size: 16px;
  top: 120px;
  font-weight: bold;
  margin-bottom: 20px;
}
.upload-subtitle {
  display: flex;
  align-self: flex-start;
  font-size: 12px;
  width: 90%;
  margin-bottom: 20px;
  padding-left: 10px;
}

.upload-buttom {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 450px;
  margin-top: 30px;
  border-radius: 50px;
  font-size: 16px;
  color: white;
  background-color: #58aed4d1;
  border: none;
  height: 50px;
  position: absolute;
  top: 360px;
}

.upload-buttom:focus {
  height: 52px;
  width: 452px;
}

.form-error {
  border-color: red;
  border-width: 1px;
}

.upload-bar-input__option {
  padding: 10px;
  border-radius: 5px;
  border-color: gainsboro;
  color: darkgray;
  font-size: 12px;
}

.upload-bar-input__option :hover {
  background-color: gainsboro;
}

.selector-model {
  top: 310px;
  height: 40px;
}

@media screen and (max-width: 1000px) {
  .content-page-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 200px;
    top: 180px;
    justify-content: center;
    align-items: center;
  }

  .search-text {
    display: flex;
    text-align: unset;
    font-size: 25px;
    width: 80%;
    padding-bottom: 20px;
    align-self: center;
    color: white;
    padding-left: 0px;
  }
  .search-title {
    top: 120px;
    font-weight: bold;
  }

  .search-subtitle {
    font-size: 15px;
    /* top: 300px; */
  }

  .search-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    height: 300px;
    top: 230px;
  }

  .search-bar__input {
    border-radius: 50px;
  }

  .nav-menu {
    width: initial;
    background-color: transparent;
  }

  .search-bar-input__container {
    margin: 10px;
  }

  .search-bar-input__entry {
    height: 60px;
  }

  .search-bar-input__container--brand,
  .search-bar-input__container--fuel {
    width: 90%;
  }

  .search-background-image {
    height: 760px;
    margin-top: 0px;
  }

  .search-buttom {
    border-radius: 50px;
    font-size: 20px;
    width: 90%;
    height: 60px;
    margin: 10px;
  }

  .upload-buttom {
    font-size: 12px;
    width: 50%;
    height: 30px;
    top: 360px;
  }

  .nav-menu-link-container {
    width: 220px;
    font-size: 12px;
    padding: 10px;
  }

  .logo {
    font-size: 20px;
    position: initial;
    padding: 30px;
  }

  .nav-menu--opacity {
    height: 100px;
  }

  .search-result-container {
    top: 640px;
  }

  .search-result-container__item {
    width: 100%;
    font-size: 16px;
    height: 160px;
  }

  .search-result-container__info div:first-child {
    font-size: 14px;
  }

  .search-result-container__info {
    width: 140px;
  }

  .search-result-container__photo {
    width: 190px;
    height: 120px;
  }
  .search-result-buttom {
    font-size: 18px;
    height: 30px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .upload-box {
    width: 220px;
    height: 400px;
    left: initial;
  }

  .upload-box__input {
    padding-left: 10px;
  }

  .upload-title {
    font-size: 16px;
    padding: initial;
    text-align: left;
    width: 100%;
    margin-left: 7px;
  }

  .upload-subtitle {
    font-size: 10px;
    padding: initial;
    text-align: left;
    width: 100%;
    margin-left: 7px;
  }

  .upload-box-input__container {
    font-size: 8px;
    width: 50%;
    height: 20px;
    padding: 3px;
  }

  .upload-box-input__entry input {
    font-size: 12px;
  }

  .upload-box-input__icon {
    display: none;
  }

  .upload-box-input__container--brand {
    top: 160px;
  }

  .upload-box-input__container--fuel {
    width: 50%;
    left: initial;
    top: 200px;
  }

  .upload-box-input__container--date {
    width: 50%;
    left: initial;
    top: 240px;
  }

  .upload-box-input__container--email {
    width: 50%;
    top: 280px;
  }

  .upload-fuel-date-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .selector-model {
    top: 320px;
    font-size: 16px;
    padding: 1px;
    height: 30px;
    width: 52%;
  }

  .search-bar-input__entry input {
    font-size: 16px;
  }

  .upload-box-container {
    display: flex;
    width: 410px;
    position: absolute;
    top: 180px;
    justify-content: center;
  }
}
